@use '../board/square/square.module.scss' as square;

.player-panel {
	height: square.$height * 4;
	margin: 0 1em;
 
	.captured-pieces {
		display: flex;
		flex-wrap: wrap;
	}

	.header {
		display: flex;
		align-items: center;

		:first-child {
			margin-right: 1em;
		}
	}
}
