#chess {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;

	#match-header {
		grid-template-columns: 1fr 1fr 1fr;
		display: grid;
		font-size: x-large;
		text-align: center;

		:last-child {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			button {
				margin-right: 1em;
			}
		}
	}

	#match-body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}