.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
}

.square.chocolate {
  background-color: #b96427;
}

.square.wheat {
  background-color: wheat;
}

.square.available {
	background-color: green !important;
	cursor: pointer;
}
